*{
    margin: 0;
    padding: 0;
}


/* barra de navegacion en header*/
.fondoMenu {
    background-color: #1AACAC;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
}

/* le gana por especifidad el selector anterior(linea 12)*/
/* .link-nav  {
    color: white;
} */

.navbar-light .navbar-nav .nav-link:hover{
    background-color: #362FD9;
    color: #1AACAC;
    border-radius: 10px;
}

.navbar-collapse {
    flex-grow: 0;
}

/*
body-main
*/
.col{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*imagen de la tarjeta*/

.card-img-top{
    padding: 5px;
    height: 325px;

}

/*footer*/
footer {
    background-color: #1AACAC;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* coloco display flex para que aparezca un icono al lado del otro*/
.logos_footer{
    display: flex;
    justify-content: center;
}

/*iconos de facebook e instragram*/
.bi {
    color: black;
    font-size: 30px;
    margin: 10px;
}

